src/main/resources/XSD/addGaz.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devUaaOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="timeStamp"/>

        <xs:element type="xs:long" name="mRID"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="armrRouter"/>
        <xs:element name="parameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="parameter" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>