src/main/resources/XSD/discoveryGaz.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="devdisc">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="devId"/>
                <xs:element type="xs:string" name="time"/>
                <xs:element type="xs:string" name="dcId"/>
                <xs:element type="xs:string" name="devElecId"/>
                <xs:element type="xs:byte" name="channel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

